@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
:root {
  --bg-gradient: linear-gradient(360deg, #000000 0%, #1a1a1a 50%, #222222 100%);
  --primary-color: #e6533c;
  --nav-text-color: #fff;
  --para-color: rgba(255, 255, 255, 0.5);
  --price-card-color: #097fd9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
header {
  background-image: var(--bg-gradient);
}
body {
  background: #000000;
}
h1,
h2,
h3,
h4 {
  color: var(--nav-text-color);
}
p {
  color: var(--para-color);
  line-height: 1.5rem;
  font-size: 0.95rem;
}
.header-section,
.container,
.bmi-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 2rem 0 2rem;
}
section {
  margin-bottom: 3.5rem;
}
/*Header Section*/
.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  border: 1px solid #313030;
  padding: 0.5rem 0;
  border-radius: 2rem;
  text-align: center;
}
.nav-list li a {
  color: var(--nav-text-color);
  margin-right: 3rem;
  text-decoration: none;
}
#orange {
  background: var(--primary-color);
  padding: 0.4rem 1rem;
  border-radius: 20px;
}
#hide {
  display: none;
  color: #fff;
  font-size: 1.5rem;
}
.logo {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 900;
}
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-text {
  width: 40%;
  padding: 2rem 0;
}
.hero-text h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  line-height: 6rem;
}
span {
  font-family: "Miama", sans-serif;
  font-size: 9rem;
  font-weight: normal;
}
.hero-text p {
  padding: 1rem 0;
}
.hero-btn .join-btn {
  background: var(--primary-color);
  color: #fff;
  padding: 0.8rem 2.5rem;
  border: none;
  font-weight: 600;
  border-radius: 25px;
}
.hero-btn .download-btn {
  background: transparent;
  color: #fff;
  padding: 0.8rem 2.5rem;
  border: 1px solid #999696;
  border-radius: 25px;
  font-weight: 600;
  margin-left: 10px;
}
.hero-image {
  position: relative;
}
.hero-image img {
  width: 100%;
}
.hero-img-text {
  max-width: 210px;
  color: #fff;
  background-color: rgba(32, 32, 32, 0.7);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  position: absolute;
  bottom: 12%;
  left: -25%;
}
.tutorial {
  padding-left: 20px;
  margin-top: -15px;
}
.fa-play {
  font-size: 1.5rem;
  position: relative;
  top: 43px;
  left: -33px;
  z-index: 10;
}
.tutorial::before {
  content: "";
  position: absolute;
  top: 36%;
  left: 9px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.hero-img-text h3 {
  font-size: 1.5rem;
}
.hero-img-text p {
  padding: 0.3rem 0;
}
.hero-text-overlay {
  max-width: 200px;
  color: #fff;
  background-color: rgba(66, 65, 65, 0.5);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  position: absolute;
  top: 24%;
  right: -20%;
}
.hero-text-overlay h3 {
  font-size: 2rem;
}
.hero-text-overlay p {
  font-size: 0.8rem;
}
/*Habits Section*/
.habit-text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 3.5rem 1rem;
}
.habit-text h1,
.team-text h2,
.pricing-text h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.habits-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin: 1.5rem 0;
  text-align: center;
}
.card {
  padding: 1rem;
}
.card .habit-card-img {
  padding-bottom: 2rem;
}
.card .habit-card-img img {
  border: 5px solid #292828;
  border-radius: 50%;
}
.habit-card-text h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
/*Run Section*/
.run-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  background: #252525;
}
.run-text {
  width: 40%;
  padding: 2rem;
}
.run-text h2,
.training-text h2,
.bmi-text h2 {
  font-size: 3rem;
  font-weight: 900;
  padding: 0.7rem 0;
}
.run-section .join-btn,
.btn,
.price-card-btn {
  background: var(--primary-color);
  color: #fff;
  padding: 0.8rem 3.5rem;
  border: none;
  font-weight: 600;
  margin: 1.3rem 0;
  border-radius: 25px;
}

.run-img {
  width: 28%;
  height: 400px;
  border-radius: 20px;
}
.run-section .run-img {
  background-image: url("./images/run.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*Pricing section*/
.price-card-text {
  color: #fff;
  list-style: none;
  line-height: 2rem;
  padding: 1rem 0;
}
.pricing-text {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.pricing-text h3 {
  font-size: 1rem;
  color: var(--primary-color);
}
.pricing-text .btn-div {
  width: 40%;
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary-color);
}
.pricing-text .btn-div .bill-btn {
  background: transparent;
  color: #fff;
  border: none;
  padding: 0.8rem 2.5rem;
  border-radius: 30px;
  cursor: pointer;
}
.pricing-text .btn-div #bg-color {
  background: var(--primary-color);
}
.pricing-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 1rem;
  gap: 2rem;
}
.pricing-card .price-card {
  border-radius: 10px;
  padding: 1rem 2rem;
  background: #252525;
  transition: all 0.3s ease-in-out;
}
.price-card h4 {
  color: var(--primary-color);
}
.price-card h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0 0.2rem 0;
}
#bg-primary {
  background: var(--primary-color);
}
#bg-primary h4 {
  color: #fff;
}
#bg-primary .price-card-btn {
  background: #000;
}
.pricing-card .price-card:hover {
  transform: scale(1.06);
  box-shadow: 8px 8px 8px rgba(66, 65, 65, 0.9);
}
/*Training Section*/
.training-text,
.team-text {
  width: 45%;
  padding: 2rem 0;
}
.training-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.training-img .grid-1 p {
  color: #000000;
}
.grid-2 p {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  color: var(--nav-text-color);
}
.grid-4 p {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--nav-text-color);
}
.grid-1 p,
.grid-3 p,
.grid-5 p,
.grid-6 p {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  color: var(--nav-text-color);
}
.grid-1 {
  position: relative;
  height: 300px;
  grid-column: 1/3;
  background-image: linear-gradient(
      180deg,
      #2d9c97 -20%,
      rgba(7, 248, 236, 0.285) 50%
    ),
    url("./images/exercise1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-2 {
  position: relative;
  height: 300px;
  grid-column: 3/8;
  background-image: linear-gradient(
      180deg,
      #53231a -20%,
      rgba(240, 8, 8, 0.185) 30%
    ),
    url("./images/exercise2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-3 {
  position: relative;
  height: 300px;
  grid-column: 8/10;
  background-image: linear-gradient(
      180deg,
      #584441 -20%,
      rgba(77, 67, 63, 0.226) 30%
    ),
    url("./images/exercise3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-4 {
  position: relative;
  height: 300px;
  grid-column: 1/5;
  background-image: linear-gradient(
      180deg,
      #30221f -20%,
      rgba(49, 38, 38, 0.137) 30%
    ),
    url("./images/exercise4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-5 {
  position: relative;
  height: 300px;
  grid-column: 5/7;
  background-image: linear-gradient(
      180deg,
      #336d25 -20%,
      rgba(53, 240, 15, 0.253) 30%
    ),
    url("./images/exercise5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-6 {
  position: relative;
  height: 300px;
  grid-column: 7/10;
  background-image: linear-gradient(
      180deg,
      #5a5958 -20%,
      rgba(167, 163, 163, 0.301) 30%
    ),
    url("./images/exercise6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bmi-text {
  width: 40%;
  margin: 0 auto;
  padding: 3rem 0;
}
/*BMI Section*/
.bmi-section {
  background: #252525;
  padding: 2rem 0;
}
.bmi-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.bmi-table h2 {
  padding: 1rem 0 2rem 0;
}
table {
  border: 1px solid var(--para-color);
  border-collapse: collapse;
  text-align: left;
}
td,
th {
  border: 1px solid var(--para-color);
  padding: 0.9rem;
  color: var(--para-color);
  font-size: 0.8rem;
}
th {
  color: var(--nav-text-color);
}

.input-area {
  width: 40%;
}
.bmi-input-text h2 {
  font-size: 2rem;
  padding: 1rem 0;
}
.bmi-input {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.7rem;
}
.height {
  grid-column: 1/2;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #afadad;
  background-color: #494848;
}
.weight {
  grid-column: 2/3;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #afadad;
  background-color: #494848;
}
.age {
  grid-column: 1/2;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #afadad;
  background-color: #494848;
}
.gender {
  grid-column: 2/3;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #afadad;
  background-color: #494848;
}
.activity {
  grid-column: 1/3;
  padding: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #afadad;
  background-color: #494848;
}
/*Team Section*/
.team-text {
  margin: 0 auto;
  text-align: center;
}
.team-img {
  width: 100%;
  background: #252525;
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
.team-grid-1 {
  position: relative;
  height: 400px;
  border-radius: 15px;
  background-image: url("./images/trainer1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-grid-2 {
  position: relative;
  height: 400px;
  border-radius: 15px;
  background-image: url("./images/trainer2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-grid-3 {
  position: relative;
  height: 400px;
  border-radius: 15px;
  background-image: url("./images/trainer3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-grid-4 {
  position: relative;
  height: 400px;
  border-radius: 15px;
  background-image: url("./images/trainer4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-grid-5 {
  position: relative;
  height: 400px;
  border-radius: 15px;
  background-image: url("./images/trainer5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-grid-6 {
  position: relative;
  height: 400px;
  border-radius: 15px;
  background-image: url("./images/trainer6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-img-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/*Footer Section*/
footer {
  background: #252525;
  margin-top: 4rem;
}
.size {
  font-size: 3rem;
}
.footer-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: right;
  padding: 2rem 0;
}
.footer-text h2 {
  padding: 1rem 0;
}
.footer-text li {
  list-style: none;
  padding: 0.5rem 0;
}
.footer-text li a {
  color: var(--para-color);
  text-decoration: none;
  cursor: pointer;
}
hr {
  border: 1px solid #4d4c4c;
}
.footer-content > p {
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
}
/* For Small Device*/
@media screen and (max-width: 576px) {
  .header-section,
  .container,
  .bmi-container {
    width: 95%;
    padding: 1rem 0.5rem;
  }
  section {
    margin-bottom: 1rem;
  }
  .nav-list {
    display: none;
  }
  #hide {
    display: block;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-text h1,
  .run-text h2,
  .training-text h2,
  .bmi-text h2,
  .team-text h2,
  .pricing-text h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    line-height: 2.4rem;
  }
  span {
    font-size: 3rem;
  }
  .hero-text,
  .training-text,
  .bmi-text,
  .team-text {
    width: 95%;
    padding: 1.5rem 0;
  }
  .hero-btn .join-btn,
  .hero-btn .download-btn {
    padding: 0.7rem 1rem;
  }
  .hero-img-text {
    max-width: 200px;
    height: 80px;
    padding: 0.5rem 2rem;
    top: 45%;
    left: 15px;
  }
  .hero-image p {
    font-size: 0.6rem;
  }
  .tutorial::before {
    top: 38%;
    left: 10px;
  }
  .hero-text-overlay h3 {
    font-size: 1.5rem;
  }
  .hero-text-overlay {
    width: 145px;
    top: 50px;
    right: 5px;
  }
  .habits-card,
  .team-img,
  .footer-text {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    padding: 1rem;
  }
  .habit-text {
    width: 100%;
    padding: 0;
  }
  .habit-text h1 {
    font-size: 1.7rem;
  }
  .run-section {
    flex-direction: column;
    padding: 1rem;
  }
  .run-img {
    width: 95%;
    height: 200px;
  }
  .run-text,
  .pricing-text {
    width: 95%;
    padding: 0.5rem;
  }
  .run-section .join-btn {
    width: 100%;
  }
  .pricing-card {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
  }
  .pricing-card .price-card:hover {
    transform: scale(1.03);
  }
  .price-card-btn {
    margin: 0;
  }
  .pricing-text .btn-div {
    width: 62%;
  }
  .pricing-text .btn-div .bill-btn {
    padding: 0.5rem 1.5rem;
  }
  .training-img {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .grid-1 {
    height: 110px;
    grid-column: 1/7;
  }
  .grid-2 {
    height: 110px;
    grid-column: 7/13;
  }
  .grid-3 {
    height: 110px;
    grid-column: 1/6;
  }
  .grid-4 {
    height: 110px;
    grid-column: 6/13;
  }
  .grid-5 {
    height: 110px;
    grid-column: 1/7;
  }
  .grid-6 {
    height: 110px;
    grid-column: 7/13;
  }

  .grid-2 p {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
  .grid-4 p {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  .grid-1 p,
  .grid-3 p,
  .grid-5 p,
  .grid-6 p {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
  }
  .bmi-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .input-area {
    width: 100%;
  }
  .bmi-table h2,
  .bmi-input-text h2 {
    font-size: 1rem;
    padding: 1.5rem 0;
  }

  .height,
  .weight,
  .age,
  .gender,
  .activity {
    width: 100%;
    padding: 15px;
  }
  .footer-text {
    justify-items: left;
  }
}
/*For Medium Device*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header-section,
  .container,
  .bmi-container {
    width: 95%;
    padding: 1rem 0.5rem;
  }
  .hero-section {
    flex-direction: column;
  }
  .hero-text h1 {
    font-size: 5rem;
  }
  span {
    font-size: 7rem;
  }
  .hero-text {
    width: 95%;
  }
  .habits-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    padding: 1rem 2rem;
  }
  .run-section {
    padding: 1rem;
  }
  .run-img {
    width: 40%;
    height: 300px;
  }
  .run-text {
    width: 60%;
  }
  .pricing-card {
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 0;
  }
  .pricing-card .price-card:hover {
    transform: scale(1.05);
  }
  .pricing-text .btn-div {
    width: 40%;
  }
  .habit-text,
  .training-text,
  .bmi-text,
  .team-text,
  .pricing-text {
    width: 90%;
    padding: 1rem 0;
    margin: 0;
  }
  .run-text h2 {
    font-size: 2rem;
  }
  .training-img {
    grid-template-columns: repeat(10, 1fr);
  }

  .grid-1 {
    height: 250px;
    grid-column: 1/4;
  }
  .grid-2 {
    height: 250px;
    grid-column: 4/8;
  }
  .grid-3 {
    height: 250px;
    grid-column: 8/11;
  }
  .grid-4 {
    height: 250px;
    grid-column: 1/5;
  }
  .grid-5 {
    height: 250px;
    grid-column: 5/8;
  }
  .grid-6 {
    height: 250px;
    grid-column: 8/11;
  }
  .bmi-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .input-area {
    width: 100%;
  }

  .height,
  .weight,
  .age,
  .gender,
  .activity {
    width: 100%;
    padding: 15px;
  }
  .footer-text {
    grid-template-rows: repeat(2, 1fr);
    justify-items: left;
  }
  .logo-text {
    width: 60%;
    grid-column: 1/4;
  }
}
/*For Large Device*/
@media screen and (min-width: 992px) and (max-width: 1280px) {
  .header-section,
  .container,
  .bmi-container {
    width: 90%;
    padding: 1rem 0.5rem;
  }
  .hero-text h1 {
    font-size: 5rem;
  }
  span {
    font-size: 7rem;
  }
  .hero-text,
  .team-text {
    width: 50%;
  }
  .habit-text,
  .training-text,
  .bmi-text,
  .pricing-text {
    width: 60%;
    padding: 1.5rem 0;
  }
  .habit-text h1,
  .training-text h2 {
    font-size: 2rem;
  }
  .hero-text-overlay {
    right: -10%;
  }
  .habits-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    padding: 2rem 3rem;
  }
  .run-section {
    padding: 1rem;
  }
  .run-img {
    width: 40%;
    height: 300px;
  }
  .run-text {
    width: 50%;
  }
  .run-text h2 {
    font-size: 2rem;
  }
  .pricing-card {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 0;
  }
  .pricing-card .price-card:hover {
    transform: scale(1.05);
  }
  .pricing-text .btn-div {
    width: 50%;
  }
  .bmi-container {
    justify-content: space-between;
  }
  .height,
  .weight,
  .age,
  .gender,
  .activity {
    width: 100%;
    padding: 15px;
  }
}
